.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura espaciado uniforme */
  flex-grow: 1; /* Crece para ocupar espacio disponible */
  height: 100%; /* Limita su altura al 100% del contenedor padre */
  padding: 20px;
  background-color: transparent;
  backdrop-filter: blur(14px);
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ancho completo */
}

.groupContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Crece con el contenedor padre */
  justify-content: flex-start;
  height: 100%; /* Asegura que use toda la altura disponible */
  padding: 20px;
  margin: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Permite el scroll si el contenido excede la altura */
}

.expensesList {
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  padding: 0;
  margin: 0;
  list-style: none;
}

.expenseItem {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 95%; /* Limita el ancho máximo para mantener el diseño */
  word-wrap: break-word; /* Asegura que el texto largo no desborde */
}

.subTitle, p {
  text-align: center;          
  margin: 0;                   
  width: 100%;                 
}

.subTitle {
  font-size: 24px;
  color: whitesmoke;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
