/* En Layout.module.css */
.applicationBackground {
  background: linear-gradient(to bottom, #002946 0%, #010E27 9.5%, #010E27 9.5%, #002946 51.5%, #002946 51.5%, #010E27 100%);
  width: 100vw;
  min-height: 100vh; /* Asegúrate de que ocupa toda la altura visible */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100vh; /* Asegúrate de que ocupa toda la altura visible */
}

  
.panelsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}