/* Dashboard.module.css */
.dashboard {
  background-color: white; /* Fondo blanco para el dashboard */
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #ffcccc; /* Fondo rojo claro para ver la sección */
  overflow: hidden;
}

.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #ccffcc; /* Fondo verde claro para ver la sección */
}

.top-left, .top-right {
  background-color: black; /* Fondo azul claro para diferenciar los contenedores */
  border: 2px solid #000; /* Borde negro para visualizar los contenedores */
  padding: 20px;
  border-radius: 8px;
}

.main-section {
  flex-grow: 1;
  background-color: #ffffcc; /* Fondo amarillo claro para ver la sección */
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #000; /* Borde negro para visualizar el contenedor */
  overflow-y: auto;
}
