.beginning>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: var(--background-gradient, linear-gradient(180deg, rgba(2, 36, 85, 0.00) -16.51%, #010E27 83.49%)); */
    padding-block: 88px;
    gap: 40px;
  }
  
  .connectWalletButton {
    all: unset;
    cursor: pointer;
    height: 43px;
  }
  
  .connectWalletButton>img {
    height: 100%;
  }
  
  @media (max-width: 767px) {
    .beginning {
      padding: 0;
    }
  
    .beginning>div {
      padding-top: 40px !important;
      padding: 16px;
      gap: 24px;
    }
  
    .beginning h1 {
      font-size: 30px;
      margin: 0;
    }
  
    .beginning p {
      margin: 0;
    }
  }