.groupOptions {
  padding: 18px 36px; /* Consistencia en el padding */
  background-color: transparent;
  backdrop-filter: blur(14px); /* Alineado con el desenfoque de Additional Container */
  border-radius: 22.5px; /* Incrementado para coincidir con los contenedores adicionales */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 25.2px; /* Ajustado para coincidir con el margen externo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 40.5px; /* Mantén esto si es específico para el diseño del título */
  font-size: 53.1px;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around; /* Ajustado para un mejor espaciado */
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  border-radius: 36px;
  padding: 18px; /* Consistencia en el espacio interior */
  width: 100%; /* Utilización completa del ancho disponible */
  margin-bottom: 13.5px;
}

.button {
  margin: 13.5px 27px; /* Reducido para permitir botones más grandes */
  padding: 17.1px 36px; /* Aumentado para botones más grandes */
  font-size: 23.4px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: 0;
  border-radius: 18px;
  flex-grow: 1; /* Hace que cada botón expanda para llenar el espacio */
  color: #ffffff;
  background-color: #ff7f50;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e06c45;
}

.viewDetails {
  background-color: #ff7f50; /* Color para el botón de ver detalles */
}

.viewDetails:hover {
  background-color: #e06c45; /* Color más oscuro para el estado hover */
}

.addMember {
  background-color: #32cd32; /* Color para el botón de añadir miembro */
}

.addMember:hover {
  background-color: #28a828; /* Color más oscuro para el estado hover */
}
