.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: whitesmoke;
  border-radius: 25px;
  padding: 30px;
  width: 800px; /* Ancho fijo */
  max-width: 90%; /* Asegura que no exceda el ancho de la pantalla */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  backdrop-filter: blur(14px);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Línea inferior sutil */
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.modalTitle {
  font-size: 2rem;
  color: rgb(90, 90, 90);
}

.closeButton {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.modalBody {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 25px;
}

label {
  font-size: 1.5rem;
  color: rgb(90, 90, 90);
  margin-bottom: 10px;
}

input, select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}

.membersList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.memberButton {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
  font-size: 1.2rem;
}

.memberButton.selected {
  background-color: #C49C68; /* Beige claro para seleccionado */
  color: white; /* Texto blanco */
  border: none; /* Sin bordes */
}
.addButton {
  padding: 15px 20px;
  background-color: #C49C68; /* Beige claro */
  color: white; /* Texto blanco */
  border: none; /* Sin bordes para un diseño limpio */
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  font-size: 1.5rem;
  font-weight: bold; /* Texto más visible */
  transition: background-color 0.3s; /* Animación suave */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

.addButton:hover {
  background-color: #B08458; /* Beige más oscuro al hacer hover */
}