/* Home.module.css */
.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco para mejor contraste */
    padding: 20px;
    box-sizing: border-box;
}

.title {
    font-size: 2rem;
    color: #fff; /* Asegurarse que el título sea legible sobre fondo oscuro */
    margin-bottom: 20px;
}

.description {
    font-size: 1.2rem;
    text-align: center;
    max-width: 600px;
    margin-bottom: 30px;
    color: #ccc; /* Texto en gris claro para diferenciarlo del título */
}
